<div style="background-color: rgb(229, 224, 22)">
  <section class="text-center container mx-auto">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <strong>Bienvenidos a Mercado Web</strong> 
        <p class="lead">Por favor seleccione sus productos</p>
        <p>
          <button id="btn_show_carrito" class="btn btn-success">
            Ver Carrito <i class="fa-solid fa-cart-shopping"></i>
            <span class="hero_ver_carrito_cuenta"> 0 </span>
          </button>
        </p>
      </div>
    </div>
  </section>
</div>
