<header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container  align-items-center">
      <a href="#" class="navbar-brand d-flex">
        <img src="/public/harvest.svg" alt="Logo" />
        <strong>Mercado Web</strong>
      </a>
    </div>
  </div>
</header>
